* {
	text-align: center;
}

h1 {
	color: #2ba2c6;
}

h2 {
	color: white;
}

body {
	background-image: url("https://pre00.deviantart.net/bb78/th/pre/i/2014/086/f/c/tesla_motors_logo_wallpaper_by_pjmccartney-d7bt8zn.png");
}